name: antsibull-build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: 'Build Ansible community distribution (${{ matrix.name }})'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # Using ansible_version as X.99.0 since it is unreleased so new deps are generated
          - name: Ansible 7
            ansible_version: 7.99.0
            ansible_major_version: 7
            ansible_core_branch: stable-2.14
          - name: Ansible 8
            ansible_version: 8.99.0
            ansible_major_version: 8
            ansible_core_branch: devel

    steps:
      - name: Check out antsibull
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull
          ref: main
          path: antsibull

      - name: Check out antsibull-core
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull-core
          ref: main
          path: antsibull-core

      - name: Check out antsibull-changelog
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull-changelog
          ref: main
          path: antsibull-changelog

      - name: Check out antsibull-docs
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull-docs
          ref: main
          path: antsibull-docs

      - name: Pre-create build directory
        run: mkdir -p antsibull/build

      # This is where the antsibull build-release role expects it by default
      - name: Check out ansible-build-data under antsibull build directory
        uses: actions/checkout@v3
        with:
          path: antsibull/build/ansible-build-data

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies
        working-directory: antsibull
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install ansible-core . ../antsibull-changelog ../antsibull-docs
          ansible-galaxy collection install 'git+https://github.com/ansible-collections/community.general.git'

      - name: Test building a release with the defaults
        working-directory: antsibull
        run: |
          ansible-playbook -vv playbooks/build-single-release.yaml \
          -e antsibull_data_reset=false \
          -e 'antsibull_ansible_version="${{ matrix.ansible_version }}"' \
          -e 'antsibull_data_dir="{{ antsibull_data_git_dir }}/${{ matrix.ansible_major_version }}"' \
          -e 'antsibull_build_file="ansible-${{ matrix.ansible_major_version }}.build"' \
          -e 'antsibull_ansible_git_version="${{ matrix.ansible_core_branch }}"'
